/* body {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
} */

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.header__left .header__text {
  margin: 0;
}

.header__username {
  font-weight: bold;
}

.main {
  padding: 50px;
}

/* .main__background {
  /* Add your background image styles here */
/* } */ */

.main__form__container {
  text-align: center;
  margin-bottom: 30px;
}

/* .main__bookings {
  /* Add styles for displaying bookings and total spent here */
/* } */ */

footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}